<footer>
    All content published is public domain unless otherwise specified. 
    <a target="_blank" href="https://www.linkedin.com/in/arminbesirovic/">LinkedIn</a> |
    <a target="_blank" href="https://github.com/adioe3">GitHub</a>
</footer>