<header>
    <a href="/"><img src="/img/AB_black.png" /></a>
    <div>
        <h1><a href="/">Journal</a></h1>
        <h2>Personal blog of software engineer Armin Beširović</h2>
    </div>
</header>