body { padding: 1rem; font-family: Helvetica, Inter, sans-serif; }
@media (prefers-color-scheme: dark) {
  body { background: #000; color: gray; }
  a { color: #1597BB; }
  a:visited { color: #064663; }
}
