body { font-family: sans-serif; line-height: 1.4; padding: 1rem; max-width: 665px; margin: 1rem auto; background: #fffff8; }
img#logo { width: 24px; height: 24px; }
a { color: #268bd2; }
a:visited { color: #6c71c4; }
a:hover { text-decoration: none; }
header { border-bottom: none; padding-bottom: .5rem; margin-bottom: 1rem; }
header h1 { font-size: 1.2rem; margin: 0; }
nav a { font-size: 1rem; margin-right: .5rem; border-right: 1px solid #ddd; padding-right: .5rem; }
nav a:last-child { margin-right: 0; border-right: none; }
ul.postlist { list-style-type: none; margin: 0; padding: 0; }
article h1 { font: normal 2rem Times,serif; margin-bottom: 0; }
table { border-collapse: collapse; }
th, tr:nth-child(even) td { background: #f2f2f2; }
th, td { padding: .3rem 1rem; border-bottom: 1px solid #ddd; border-top: none; }
tr:hover td { background: #ddd; }
article { position: relative; }
aside { position: absolute; top: .8rem; left: -6rem; color: gray; font-style: italic; margin: 0; padding: 0; font-size: .9rem; }
p.meta { font-size: .8rem; opacity: .3; }
img { max-width: 100%; }
progress { border-radius: 5px; border: 1px solid silver; background: #fff0; overflow: hidden; height: .7rem; vertical-align: middle; }
footer { font-size: .7rem; color: gray; margin-top: 1rem; padding-top: 1rem; border-top: 1px solid #ddd; }

@media (max-width: 800px) {
body { margin: 0; padding: 1rem; max-width: none; }
table { display: block; overflow-x: scroll; white-space: nowrap; }
pre { overflow-x: scroll; }
article p, article li { max-width: none; }
aside { position: static; left: auto; top: auto; }
}

@media (prefers-color-scheme: dark) {
body { background: black; color: gray; }
nav a, header, footer, th, td { border-color: #222; }
th, tr:nth-child(even) td { background: #111; }
tr:hover td { background: #222; }
a { color: orangered; }
a:visited { color: darkred; }
progress { border-color: #222; }
footer { color: #444; }
}

.highlight { font-size: .85rem; overflow: auto; }
.highlight .c { font-style: italic } /* Comment */
.highlight .err { border: 1px solid #FF0000 } /* Error */
.highlight .k { font-weight: bold } /* Keyword */
.highlight .ch { font-style: italic } /* Comment.Hashbang */
.highlight .cm { font-style: italic } /* Comment.Multiline */
.highlight .cpf { font-style: italic } /* Comment.PreprocFile */
.highlight .c1 { font-style: italic } /* Comment.Single */
.highlight .cs { font-style: italic } /* Comment.Special */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gh { font-weight: bold } /* Generic.Heading */
.highlight .gp { font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { font-weight: bold } /* Generic.Subheading */
.highlight .kc { font-weight: bold } /* Keyword.Constant */
.highlight .kd { font-weight: bold } /* Keyword.Declaration */
.highlight .kn { font-weight: bold } /* Keyword.Namespace */
.highlight .kr { font-weight: bold } /* Keyword.Reserved */
.highlight .s { font-style: italic } /* Literal.String */
.highlight .nc { font-weight: bold } /* Name.Class */
.highlight .ni { font-weight: bold } /* Name.Entity */
.highlight .ne { font-weight: bold } /* Name.Exception */
.highlight .nn { font-weight: bold } /* Name.Namespace */
.highlight .nt { font-weight: bold } /* Name.Tag */
.highlight .ow { font-weight: bold } /* Operator.Word */
.highlight .sa { font-style: italic } /* Literal.String.Affix */
.highlight .sb { font-style: italic } /* Literal.String.Backtick */
.highlight .sc { font-style: italic } /* Literal.String.Char */
.highlight .dl { font-style: italic } /* Literal.String.Delimiter */
.highlight .sd { font-style: italic } /* Literal.String.Doc */
.highlight .s2 { font-style: italic } /* Literal.String.Double */
.highlight .se { font-weight: bold; font-style: italic } /* Literal.String.Escape */
.highlight .sh { font-style: italic } /* Literal.String.Heredoc */
.highlight .si { font-weight: bold; font-style: italic } /* Literal.String.Interpol */
.highlight .sx { font-style: italic } /* Literal.String.Other */
.highlight .sr { font-style: italic } /* Literal.String.Regex */
.highlight .s1 { font-style: italic } /* Literal.String.Single */
.highlight .ss { font-style: italic } /* Literal.String.Symbol */

