---
layout: default
---
{%- assign date_format = site.minima.date_format | default: "%d %b %Y" -%}
{%- if site.posts.size > 0 -%}

<ul class="postlist">
{% for post in site.posts %}
  {% assign currentdate = post.date | date: "%Y" %}
  {% assign postdate = post.date | date: "%b %d" %}
  {% if currentdate != date %}
    <li><h2>{{ currentdate }}</h2></li>
    {% assign date = currentdate %}
  {% endif %}
    <li><span class="postdate">{{ postdate }}</span> <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></li>
{% endfor %}
</ul>

{%- else -%}
<p>No posts.</p>
{%- endif -%}
