---
layout: default
---
{{ content }}
{%- if site.posts.size > 0 -%}
    {%- assign date_format = site.minima.date_format | default: "%e %b %Y" -%}

    {% for post in site.posts limit:1 %}
    <article>
        <h1>{{ post.title | escape }}</h1>
        <aside>{{ post.date | date: date_format | downcase }}</aside>
        {{ post.content }}
    <article>
    {% endfor %}

    {% if site.posts.size > 1 %}
        <h1>archive</h1>
        <ul class="postlist">
    {% for post in site.posts offset:1 %}
    <li>
        <code>{{ post.date | date: date_format }}</code> &mdash;
        <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
    </li>
    {% endfor %}
        </ul>
    {% endif %}
{%- else -%}
<p>No posts.</p>
{%- endif -%}

